{% extends "base.html" %}

{% block content %}

    <figure class="text-center">
        <div class="display-1">
            <h1>Add an Owner:</h1>
            <p>Add new owner with the form below:</p>
        </div>
    </figure>
    <div class="input-group mb-3">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label }} {{ form.name() }}
            {{ form.id_pup.label }} {{ form.id_pup() }}
            {{ form.submit() }}
        </form>
    </div>
{% endblock %}